<h1>Task 3</h1>

<form class="form-container-array" [formGroup]="form">
  <button (click)="addCurrency()">Add Currency</button>

  <div class="currencies-container" formArrayName="currencies">
    <div *ngFor="let currency of allCurrencies.controls; index as i" >
      <div [formGroupName]="i">
        <select name="firstCurrency" formControlName="selectedCurrency">
          <option *ngFor="let curr of currencyNames" [value]="curr">{{curr}}</option>
        </select>
        <input type="number" formControlName="currencyAmount" placeholder="enter amount" required onkeydown="return event.keyCode !== 69">
      </div>
    </div>
  </div>

  <div class="outputContainer">
    <select name="secondCurrency" formControlName="selectedCurrency2">
      <option *ngFor="let curr of currencyNames" [value]="curr">{{curr}}</option>
    </select>
    <input type="number" formControlName="currencyAmount2"  placeholder="enter amount" required onkeydown="return event.keyCode !== 69">
  </div>
</form>
