.main-form-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
  width: fit-content;
  min-width: 450px;

  & p {
    margin: 0;
    color: red;
  }

  & .required input{
    height: 30px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid lightgray;
    text-indent: 10px;
  }
  & input[type='checkbox']{
    transform: scale(1.5);
    border: 1px solid lightgray;
  }

  button{
    border-radius: 5px;
    border: 0;
    background-color: dodgerblue;
    color: white;
    height: 35px;
    width: 85px;
    text-align: center;
  }

  .buttonDisabled{
    background-color: gray;
    cursor: default;
  }

  .buttonEnabled{
    &:hover{
      opacity: 0.7;
      cursor: pointer;
    }
  }

  & h1 {
    align-self: center;
    margin: 0;
  }

  & label {
    a {
      text-decoration: none;
    }
  }

  & label.required:before {
    content: "* ";
    color: red;
  }

  & .form-button-container{
    display: flex;
    gap: 15px;
  }
}

